*{
    margin: 0%;
    padding: 0%;
}

#izquierda
{
width: 300px;
height: 1600px;
background: #610B21;
float: left;
}

#centro
{
margin-top: 50px;
width: all;
margin: auto;
height: all;
background: white;
text-align: center;
}

#derecha
{
width: 300px;
height: 1600px;
background: #610B21;
float: right;

}

*{margin:0; padding:0;}
footer
{
    width: 100%;
    overflow: hidden;
    background: #610B21;
    margin-bottom: 20px;
    margin-top: 50px;
    margin: auto;
}

footer p
{
color: white;
font-size: 30px;
text-align:center;
}
footer p a
{
    color: aqua;
    text-decoration: none;

}
/* Todos los textos */
p
{
    text-align:center;
}


